body{
  margin: 0;
  padding: 0;
  background: linear-gradient(#EF8B36, #FFFFFF) fixed;
  display: flex;
  justify-content: center;
  font-size: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: -1;
}
.gradient{
  width: 1900px;
  left: 100px;
  max-width: 110%;
  height: 750px;
  background: #EF8B36;
  box-shadow: 0 -350px 100px -120px white inset;
  animation: background 8s infinite alternate;
  z-index: -1;
}

@keyframes background {
  50%{
    background: #FF7442;
    box-shadow: 0 -350px 100px -100px white inset;
  }
}
.fox{
  position: absolute;
  user-select: none;
  width: 350px;
  height: 175px;
  left: -40px;
  top: 1px;
}
.tail{
  position: absolute;
  width: 1280px;
  height: 76px;
  top: 62px;
  left: 170px;
  background-color: black;
  border-radius: 20px 20px 20px 20px;
}
.text{
  color: #FF7F00;
  user-select: none;
  margin-left: 18px;
  margin-top: 5px;
  font-size: 58px;
  font-family: Bernard MT Condensed;
  letter-spacing: 0.3em;
}
.text2{
  color: white;
  user-select: none;
  margin-left: 20px;
  margin-top: -66px;
  font-size: 58px;
  font-family: Bernard MT Condensed;
  letter-spacing: 0.3em;
}
.QandA{
  position: absolute;
  user-select: none;
  width: 90px;
  height: 52px;
  top: 75px;
  left: 1350px;
  z-index: 1;
  background: url(png);
}
.copyright{
  color: black;
  text-align: center;
  margin-top: 720px;
  font-size: 14px;
  font-family: Bernard MT Condensed;
  letter-spacing: 0.3em;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: -400px;
  margin-left: 450px;
}
.fa-quote-left, .fa-quote-right{
  font-size: 35px;
  color: rgb(179, 0, 0);
}
.quote{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
.author{
  margin:10px;
  text-align: right;
  font-size: 25px;
  font-style: italic;
  font-family: cursive;
}
.button{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px 3px 3px 3px black;
  margin-top: 100px;
  margin-left: 670px;
}
.next{
  width: 200px;
  height: 70px;
  border: 3px 3px 3px 3px black;
  font-size:23px;
  font-family: 'Playfair Display', serif;
  border-radius: 10px;
  padding: 10px;
  margin-top: 5px;
  font-weight: bold;
  color: black;
  background-image: linear-gradient(to right bottom, rgb(243,159,104), #FFF);
}
